.error{
  text-align: center;
  color: red;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="First Name"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="Last Name"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="Email"] {
  margin-bottom: 10px;
}

.form-signin input[type="Description"] {
  margin-bottom: 10px;
}

.form-signin > textarea {
  margin-bottom: 10px;
}

.form-signin input[type="file"] {
  margin-bottom: 10px;
}

.form-signin input[name="password1"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[name="password2"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-heading{
  text-align: center;
}

.hyperlink{
  display: block;
  text-align: center;
}

#avatar {
  width: 200px;
  height: 200px;
  border-radius: 130px;
  border-width: medium;
  border-color: #ff3366;
  border-style: solid;
}
